<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<style>
    /* /////////////// Bootstrap boarder */

    /* .row {
        border: 1px solid red;
    }

    div[class^="col-"] {
        border: 1px solid green;
    } */

    /* /////////////// styling for the color indentifing the user */
    .circle {
        height: 10px;
        width: 10px;
        border-radius: 20px;
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
    }


    .logout {
        width: 13px;
        border-radius: 40px;
        /* float: center; */
        display: inline-block;
        /* margin-top: 6px; */
        /* margin-left: 1px; */
        /* margin-right: 2px; */
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .welcomeName {
        font-weight: bold;
    }

    .sep {
        border-top: 1px solid rgb(223, 223, 223);
    }
</style>

<body>
    <div class="container mt-3">
        <div class="col-12 mx-auto">
                <img src="https://media.licdn.com/dms/image/C4E0BAQGxbiQFQ7a1EA/company-logo_400_400/0?e=1557964800&v=beta&t=OwGqgRsLn89yns4QG1XZYJVnLGqdwkcaPlaKlqzU5Yc
                " class="logo" alt="Cinque Terre">
            <div class="row">  
                <div class="col-12 col-sm-8 col-md-9 mb-2 mx-auto">
                    <!-- //////////////////////////////////////////// Input and submit -->
                    <input type="text" id="post-content-input" rows="6" class="form-control text-center"
                    placeholder="message..."></input>
                </div>
                <div class="col-12 col-sm-4 col-md-3 mb-2 mx-auto">
                    <button onclick="postArticle()" class="btn btn-dark btn-block">Post</button>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto">
            <div class="row">
                <div class="col-4 bg-white">
                    <!-- ////////////////////////////////////////// Individual articles -->
                    <div class="row">
                        <div class="col-12 bg-white">
                            <!-- //////////////////////////////////////////// Welcoming text  -->                    
                            <a class="button" href="/logout">
                                <img src="https://png.pngtree.com/svg/20161011/logout_1185661.png" class="logout">
                                <!-- <div class="logout"><small>LOGOUT</small></div> -->
                            </a>
                            <b><small>Bonjour </small><small id="welcome-name" class="welcomeName"></small><small> !
                                </small></b>
                        </div>
                    </div>
                    <div id="color-adj" class="col-12 mx-auto p-1"></div>
                    <p class="font-weight-light" id="get-content-result-individual"></p>
                </div>
                <div class="col-8 bg-white">
                    <!-- ////////////////////////////////////////// All articles -->
                    <p class="font-weight-normal" id="get-content-result-all"></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

<script>

    function getColor() {
        axios.get('/user/color')
            .then(function (response) {
                var element = document.getElementById("color-adj");
                element.style.backgroundColor = response.data;
            })
            .catch(function (error) {
                console.log(error);
            });
    };
    getColor();

    function getUserNameForTheTitle() {
        axios.get('/user')
            .then(function (response) {
                document.getElementById("welcome-name").innerHTML += response.data.username;
            })
            .catch(function (error) {
                console.log(error);
            });
    };
    getUserNameForTheTitle();


    function displayArticles(articles, articlesLocation) {
        document.getElementById(articlesLocation).innerHTML = "";
        for (var i = articles.length - 1; i >= 0; i--) {
            var articleOwner = articles[i].articleOwner;
            var date = new Date(articles[i].datePosted).toLocaleString();
            var content = articles[i].content;
            var color = articleOwner.color;
            var userName = articleOwner.username;
            var result = "<small>" +
                "<small>" + date + "</small>" +
                "<div class='circle' style='background-color:"
                + color + "'></div><small><b>"
                + userName + "</b>: </small>"
                + content + "</small><div class='sep'></div>";
            document.getElementById(articlesLocation).innerHTML += result;
        }
    };


    function getAllArticles() {
        axios.get("/articles/all")
            .then(function (response) {
                if (!response.data) return;
                return displayArticles(response.data, "get-content-result-all");
            })
            .catch(function (error) {
                console.log(error);
            });
    };
    getAllArticles();


    function getUserArticles() {
        axios.get('/articles/user')
            .then(function (response) {
                if (!response.data) return;
                return displayArticles(response.data, "get-content-result-individual");
            })
            .catch(function (error) {
                console.log(error);
            });
    };
    getUserArticles();


    function postArticle() {
        var content = document.getElementById("post-content-input").value;
        var data = {
            "content": content
        };
        axios.post("/articles", data)
            .then(function (response) {
                // Refresh the articles on the page
                getAllArticles();
                getUserArticles();

                // Empty input 
                document.getElementById("post-content-input").value = "";
            })
            .catch(function (error) {
                console.log(error);
            });
    };

    // function logout() {
    //     axios.get("/logout");
    // };



</script>

</html>