<!DOCTYPE html>

<html>
<body>
    <h5>Choose the dog.</h5>
    <a href="http://localhost:3000/dogs/smalldog"><h5>"small dog?"</h5></a>
    <a href="http://localhost:3000/dogs/bigdog"><h5>"big dog?"</h5></a>
</body>
</html>